<div class="card bg-light mb-3" style="max-width: 100%; margin-top: 30px;margin-bottom: 30px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body" style="padding-left:20px;padding-bottom:20px;padding-right:20px;padding-top:0px;">
        <h5 class="card-title no-anchor" data-toc-skip>First time here? Welcome!</h5>
        <p class="card-text">Procrastip is a free website that aims to help you stop procrastination and get things done.</p>
        <a class="btn btn-success" style="margin-top: 0px; margin-right: 0px" href="/how-it-works/">How It Works</a> &nbsp; <a class="btn btn-success" style="margin-top: 0px; margin-right: 0px; margin-left: 5px;" href="/about/">About</a>
      </div>
    </div>
  </div>
</div>