---
title: About
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container">
      <div class="md-guide-feature">
        <h1 class="no-anchor">About</h1>
        <p class="lead" style="margin-bottom: 60px">Procrastip is a free website that aims to help you stop procrastination and get things done. It was founded with the intention of giving back to the community and the goal of having it evolve into something created by everyone to everyone, in line with the principles below.</p>

        <div class="row">
          <div class="col-sm-3">
              <div class="icon">
                <i class="fas fa-lightbulb"></i>
              </div>
            <h3 class="no-anchor">Simplicity</h3>
            <p>The content you need to go back on track in the shortest and simplest possible format.</p>
          </div>
          <div class="col-sm-3">
              <div class="icon">
                <i class="fas fa-couch"></i>
              </div>
			<h3 class="no-anchor">Ease of access</h3>
            <p>Easy-to-remember URL/domain. No clicks required to find the information you need. No login boxes. No paywalls.</p>
          </div>
          <div class="col-sm-3">
              <div class="icon">
                <i class="fas fa-mask"></i>
              </div>
			<h3 class="no-anchor">Privacy protection</h3>
            <p>No registration required. No trackers. No ads.</p>
          </div>
          <div class="col-sm-3">
              <div class="icon">
                <i class="fas fa-infinity"></i>
              </div>
			<h3 class="no-anchor">Continuous improvement</h3>
            <p>Regular updates. Potentially crowd-sourced (if we are able to do so without disrespecting the other principles).</p>
          </div>
      </div>
		<br>
		<h2 class="no-anchor">Author</h1>
        <p class="lead" style="margin-bottom: 60px">My name is Luis Cinza and I am a Product Manager based in Luxembourg, Europe. I am passionate about exploring how one can be more effective and efficient for any type of goal and decided to share this guide with the strategies that worked for me over the years.</p>
		
		<h2 class="no-anchor">Contact</h1>
        <p class="lead" style="margin-bottom: 60px">You can reach out via email to procrastip at protonmail.com. Please share any improvement ideas and suggestions, regarding the content or technical aspects of the project. I would also be happy to know how the website helped you achieve done. 😃</p>
		</div>
	</div>

    {% include footer.html %}
  </body>
</html>
