---
title: How It Works
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container">
      <div class="md-guide-feature">
        <h1 class="no-anchor">How It Works</h1>
        <p class="lead" style="margin-bottom: 60px">Procrastip helps you get things done. Whenever you are procrastinating, follow the steps below.</p>
        <div class="row">
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-brain"></i>
              </div>
			<h4 class="no-anchor">Step 1</h4>
            <h3 class="no-anchor">Become aware you are procrastinating</h3>
            <p>This will take some practice, but over time you will make it a habit.</p>
          </div>
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-bookmark"></i>
              </div>
            <h4 class="no-anchor">Step 2</h4>
			<h3 class="no-anchor">Open the Procrastip guide</h3>
            <p>Open the website or an offline or printed version of the content. If this is your first time here, memorize <a href="https://procrastip.com">procrastip.com</a> and bookmark the page across your most used devices.</p>
          </div>
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-bolt"></i>
              </div>
            <h4 class="no-anchor">Step 3</h4>
			<h3 class="no-anchor">Read and follow the practices</h3>
            <p>Be motivated to follow through and start achieving.</p>
          </div>
		</div>
		
		
        <div class="row">
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-check"></i>
              </div>
            <h4 class="no-anchor">Step 4</h4>
			<h3 class="no-anchor">Get things done</h3>
            <p>Complete the tasks you were supposed to be doing in the first place.</p>
          </div>
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-sliders-h"></i>
              </div>
            <h4 class="no-anchor">Step 5</h4>
			<h3 class="no-anchor">Adjust the practices</h3>
            <p>Adjust the practices based on how they helped your performance in the past and your own preferences.</p>
          </div>
          <div class="col-sm-4">
              <div class="icon">
                <i class="fas fa-sync-alt"></i>
              </div>
            <h4 class="no-anchor">Step 6</h4>
			<h3 class="no-anchor">Reinforce the habit</h3>
            <p>Over time, reinforce the habit by associating the procrastination trigger with Procrastip.</p>
          </div>
		</div>

      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
